*.tlog
*.pdb
*.exe
*.vsidx
Chapter 4 Direct3D Initialization/Init Direct3D/x64/Debug/Init Direct3D.vcxproj.FileListAbsolute.txt
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
*.wsuo
